---
import AboutHeroImage from '../assets/Latte_and_dark_coffee.jpg';
import Layout from '../layouts/AboutMe.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		This webpage is a personal project to keep track of some of the cool coffee spots I find, and keep track of my experience. All reviews are completely subjective. 
		Price relativity will never be included in coffee shop reviews.
	</p>
	<p>
		I am planning to eventually add some new features: 
	</p>
	
	<ol>
		<li>A feature to track my coffee shop wish list.</li>
		<li> A heatmap feature to show where I've been.</li>
		<li>A draw on map feature to filter coffee shops by location.</li

</Layout>
