---
import coffeewheel from '../assets/CoffeeWheel_SteelOakCoffee.png';
import Layout from '../layouts/AboutMe.astro';
---

<Layout
	title="About Me"
	pubDate={new Date('August 08 2021')}
	heroImage={coffeewheel}
>
	<p>
		This page will eventually turn into something like this: https://steeloakcoffee.com/pages/coffee-flavor-wheel
	</p>

</Layout>
