---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import "maplibre-gl/dist/maplibre-gl.css";
import Map from "../components/map.astro";
---
<!-- <Map client:only="react" /> -->


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
        <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />
	</head>
        <body>
            <Header />
            <main>
                <h2> Welcome Coffee Roamers! </h2>
                <p> 
                    This site serves as a repository of fun coffee spots that I visit.
                    I try to review each for future reference for myself and others. 
                    I hope you enjoy!
                </p>
            </main>

        <maparea>
            <div>
            </div>
            <div class="mapfilters">
                <!-- use this area to put in filter cards to filter the map -->
                <div> Location </div> <div> Rating </div> <div> Date </div>
            </div>
            <div class=featurecards>
                <!-- use this area to dynamically replace featured cards
                 showing a few local spots and highlighting them on the map-->
                <div> 
                    <h4>Sweet Wheat Bakery</h4>
                    <h5>Redondo Beach, CA | 02/28/2026</h5>
                    <p> Short description</p>
                </div>
                <div>
                    <h4>Sweet Wheat Bakery</h4>
                    <h5>Redondo Beach, CA | 02/28/2026</h5>
                    <p> Short description</p>
                </div>
            </div>
            <div>
                <Map />
            </div>

        </maparea>
        <Footer />
    </body>
</html>
