---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import "maplibre-gl/dist/maplibre-gl.css";
import Map from "../components/map.astro";
---
<!-- <Map client:only="react" /> -->


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
        <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />
	</head>
        <body>
            <Header />
            <main>
                <h2 style="margin: 0.5em 0 0.5em 0 "> Welcome Coffee Roamers! </h2>

                <maparea>
                    <div>
                    </div>
                    <div class="mapfilters">
                        <!-- use this area to put in filter cards to filter the map -->
                        <div> Location </div>
                        <div> Rating </div>
                        <div> Date </div>
                        <div> Extra </div>
                    </div>
                    <div class=featurecards>
                        <!-- use this area to dynamically replace featured cards
                        showing a few local spots and highlighting them on the map-->
                        <div> 
                            <h4>Sweet Wheat Bakery</h4>
                            <h6>Redondo Beach, CA | 02/28/2026</h6>
                            <p> Short description</p>
                        </div>
                        <div>
                            <h4>Sweet Wheat Bakery</h4>
                            <h6>Redondo Beach, CA | 02/28/2026</h6>
                            <p> Short description</p>
                        </div>
                        <div>
                            <h4>Sweet Wheat Bakery</h4>
                            <h6>Redondo Beach, CA | 02/28/2026</h6>
                            <p> Short description</p>
                        </div>
                    </div>
                    <actualmap>
                        <Map />
                    </actualmap>    
                </maparea>
            </main>
        <Footer />
    </body>
</html>
