---
import "maplibre-gl/dist/maplibre-gl.css";

const { title, coords } = Astro.props;
---

<div id="map" 
  style="width:100%; height:500px;"
  data-coords={JSON.stringify(coords)}
  data-title={title}
></div>

<script type="module">
import maplibregl from "maplibre-gl";

  window.addEventListener("DOMContentLoaded", () => {
    const mapElement = document.getElementById("map");
    const rawCoords = JSON.parse(mapElement.dataset.coords || "[]");
    const mapTitle = mapElement.dataset.title;

    const map = new maplibregl.Map({
      container: "map",
      // style: '${import.meta.env.`CoffeeRoamer`}/Public/mapstyle.json',
      style: './mapstyle.json',
      center: [-100,48],
      zoom: 2.5,
    });

  map.addControl(new maplibregl.NavigationControl());

  map.on('load', () => {
    // 2. Transform the raw coordinates into GeoJSON Features
    const features = rawCoords.map(c => ({
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": c // Expects [longitude, latitude]
      },
      "properties": { "name": mapTitle }
    }));

    map.addSource('CoffeeCoordinates',{
      type: 'geojson',
      data: {
          "type": "FeatureCollection",
          "features": features
        }
    });

    map.addLayer({
        'id': 'coffee-points',
        'type': 'circle',
        'source': 'CoffeeCoordinates',
        'paint': {
          'circle-radius': 6,
          'circle-color': '#6F4E37', // Coffee brown
          'circle-stroke-width': 1,
          'circle-stroke-color': '#fff'
        }
    });

  })
  })
</script>