---
import {BASE} from '../consts.ts';

---

<template id="map-popup-template">
    <a class="url" href={`${BASE}posts/`}>
    <div class="MapPopupClass">
        <img class="her0image"> </img>
        <div class="popupcontent">
            <h2 class="Name"></h2>
            <h4 class="city"></h4>
            <p class="descr"></p>
        </div>
    </div>
    </a>
</template>

<style>
    .MapPopupClass{
        display: grid;
        grid-template-columns: 10em min-content;
        gap: 0.25em; 
        align-items: center;
        font-family: "myFont";
    }

    .her0image{ 
        object-fit: contain;
    }

    .popupcontent{ 
        justify-content: left;
        margin: 0.5em 0.5em;
        flex: auto;
        font-family: "myFont";
    }

    .descr{
        white-space: nowrap;
        font-family: "myFont";
    }

    .url{
        text-decoration: none; /* Removes underline */
        color: inherit;        /* Uses parent element color */
    }

    .url:hover .popupcontent .name {
        color: var(--accent);
    }

</style>